<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Simple Form</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="form-container">
  <mat-card>
    <mat-card-title>Cadastro</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" [formControl]="nameControl">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Username" [formControl]="usernameControl" [pattern]="'[A-Za-z]{6,10}'">
          <mat-error *ngIf="usernameControl.hasError('pattern')">
            O nome de usuário deve conter de 6 a 10 letras
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="E-mail" [formControl]="emailControl">
          <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
            E-mail inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Senha" type="password" [formControl]="passControl" [pattern]="'.{6,16}'">
          <mat-error *ngIf="passControl.hasError('pattern')">
            A senha deve conter de 6 a 15 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Repita a senha" type="password" [formControl]="checkPassControl">
          <mat-error *ngIf="checkPassControl.hasError('error')">
            As senhas devem ser iguais
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!registerControl.valid" (click)="submit()">Cadastrar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
